<div class="page-content">
   <div class="home-card mdl-card">
      <div>
         <img class="flag-day" src="assets/img/flag_day_2016.jpg">
         <p>
            The Mid-Shore Community Band carries on the tradition of community/town bands in the Middle Eastern Shore of Maryland. During the golden age of the town band (1880-1922), many communities were fortunate enough to have their own town bands. Easton had a band, Cambridge had The Merry Concert Band and the Rescue Fire Company Band. Many larger companies had a band, fire departments often had a band, and organizations like the American Legion might also have a band. These bands were a major form of entertainment for the community.<br><br>
            Mid-Shore Community Band is an all-volunteer, non-profit organization. We are open to adults who play or have played band instruments as well as high school students who are approved by the Music Director. If you would like to join MSCB, click on the "Join" tab above.<br><br>
            Since our founding in 2009, we have presented concerts in Talbot, Dorchester, and Caroline counties. If you would like to explore the possibility of having Mid-Shore Community Band perform for your organization, please contact us via e-mail at <a href="mailto:info@mscb.org">info@mscb.org</a><br><br>
         </p>
         <p class="text-center">
            <strong>"If you haven't had the pleasure of listening to this group of wonderful musicians, you'll be missing a glorious concert."</strong><br>The Star Democrat Editorial Page, 6/14/2012
         </p>
      </div>
   </div>
   <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
         <div class="mdl-logo">
            More Information
         </div>
         <ul class="mdl-mini-footer__link-list">
            <li><a href="#">About Us</a></li>
            <li><a href="mailto:info@mscb.org">Contact MSCB</a></li>
         </ul>
      </div>
      <div class="mdl-mini-footer__right-section">
         <form action="http://www.facebook.com/pages/Mid-Shore-Community-Band-Maryland/128007733896366">
            <button type="submit" class="social-btn social-btn--facebook"></button>
         </form>
      </div>
   </footer>
</div>
