<div class="page-content">
   <div class="mdl-grid home-card">
      <div class="mdl-card mdl-cell mdl-cell--4-col">
         <div class="mdl-card__title">
            I'm gay
         </div>
         <div class="mdl-card__supporting-text">
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
         </div>
      </div>

      <div class="mdl-card mdl-cell mdl-cell--8-col">
         <div class="mdl-card__title">
            I'm gay
         </div>
         <div class="mdl-card__supporting-text">
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
         </div>
      </div>
   </div>
   <div class="mdl-grid home-card">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
         <div class="mdl-card__title">
            I'm gay
         </div>
         <div class="mdl-card__supporting-text">
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
            vvgaybb<br>
         </div>
      </div>
   </div>
</div>
