<div class="page-content">
   <div class="main-card mdl-card">
      <div>
         <h4 class="text-center"><strong>So you want to join the band</strong></h4>
         <p>Mid-Shore Community Band is beginning its eighth season of music, fellowship, and fun. There are still openings for all adult musicians in the Mid-Shore area. High school students are also welcome, but must first be approved by the Music Director. Most of our music is grade 3 or higher. Rehearsals take place on Tuesday evenings in the Easton High School band room from 7:00 pm to 8:30 pm.<br></p>
      </div>
   </div>
</div>
