<div class="page-content">
   <div class="performance-locations mdl-grid">

      <% for (const performance of performances) { %>
         <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp <%= performance.id %>">
            <div class="mdl-card__title"></div>
            <div class="mdl-card__supporting-text">
               <h5><%= performance.title %></h5>
               <%= performance.info %>
            </div>
         </div>
      <% } %>

   </div>
</div>
