.mdl-layout__header-row {
   height: auto;
}

.header-info {
   text-align: right;
}

p {
   font-family: 'Roboto';
}

body::before {
   background-size: cover;
   background-attachment: fixed;
   background-image: url('/assets/img/background.jpg');
   content: '';
   z-index: -1;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   position:fixed;
}

.main-card {
   width: 75%;
   max-width: 1024px;
   min-height: 500px;
   margin: 16px auto;
}

.main-card > div {
   padding: 32px;
}

.home-image {
   display: block;
   margin: auto;
   margin-bottom: 32px;
   height: 320px;
   background: url('/assets/img/home_image.jpg') center;
   background-repeat: no-repeat;
}

.mscb-header.mdl-layout__header.is-compact {
   max-height: 100px;
}

.text-center {
   text-align: center;
}

.social-btn {
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: transparent;
   margin: 0 16px;
   width: 48px;
   height: 48px;
   cursor: pointer;
   opacity: 0.46;
   border: none
}

.social-btn--facebook {
   background-image: url('/assets/img/md-facebook.png');
}

.performance-locations {
   max-width: 1280px;
   margin: auto;
}

.performance-locations .mdl-card__title {
   color: #fff;
   min-height: 300px;
}

.dcfa-card > .mdl-card__title {
   background: url('/assets/img/dcfa.jpg') center / cover;
}

.ece-card > .mdl-card__title {
   background: url('/assets/img/ece.jpg') center / cover;
}

.wf-card > .mdl-card__title {
   background: url('/assets/img/wf.jpg') center / cover;
}

.nchs-card > .mdl-card__title {
   background: url('/assets/img/nchs.jpg') center / cover;
}

.mumc-card > .mdl-card__title {
   background: url('/assets/img/christmas.jpg') center / cover;
}

.cism-card > .mdl-card__title {
   background: url('/assets/img/cism.jpg') center / cover; 
}

.spd-card > .mdl-card__title {
   background: url('/assets/img/spd.jpg') center / cover;
}

.mcbf-card > .mdl-card__title {
   background: url('/assets/img/mcbf.jpg') center / cover;
}

.fd-card > .mdl-card__title {
   background: url('/assets/img/fd.jpg') center / cover;
}

.instrument-list {
   padding: 0px 100px;
}

footer {
   flex: none;
}
